* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Mulish", sans-serif;
  }

  .primary-color {
    color: #000;
  }
  .secondary-color {
    color: #7d7987;
  }
/* hero section */
  .hero-section{
    width: 80%;
   margin: auto;
   font-style: normal;
   margin-top: 50px;
  }
  
  .logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.logo-text{
  margin-top: 5%;
  margin-left: 10%;
  color: #233348;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.logo-circle{
    
  /* width: 45px;
  line-height: 45px;
  border-radius: 50%;
    padding: 15px;
    background: #458FF6;;
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
    text-align: center;  */
    display: inline-block;
    line-height: 0px;
    border-radius: 50%;
    font-size: 26px;
    background: #458FF6;;
    color: #FFF;
    

   }
   .circle-value{
    display: inline-block;
    padding-top: 60%;
    padding-bottom: 60%;
    margin-left: 8px;
    margin-right: 8px;
   }

  .navigation-bar{
  
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
.links{
  width: 45%;
}
  .nav-links{
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  a{
    text-decoration:none;
    color: inherit;
  }

  .list-item {
    list-style-type: none; 
    color:#7d7987;
  
  }

  .list-item:hover{
    color: #000;
  }

 
  .home{
  display: flex;
  }

  .home-info{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top: 100px;
  margin-right: 20px;
  }
  .element-img-home{
    position: absolute;
    left: 0;
    top: 10;
    background: url("imgs/element.png") ;
    background-repeat: no-repeat;
    height: 20%;
    width: 15%;
    
  }
  .h1-home{
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 25px;
  
  }

  .p-home{
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px
      
  }

.button-home{
  border-radius: 55px;
  width: 200px;
  height: 56px;
  background: #458FF6;
  margin-top: 40px;
 color: #FFF;

font-size: 18px;
border-width: 0px;
font-weight: 400;
line-height: 60px; /* 333.333% */

}
.button-home:hover{
  background-color: #8abafd;
}
.home-img{
  width: 50%;
}
/* /hero section */


/* services section */

.services-section{
 width: 80%;
 margin: auto;
 margin-top: 15%;
}

.services-header {
  /* display: flex;
  /* flex-direction: column; 
  align-items: center; */
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.h1-services {
  margin-bottom: 10px;
}

.services-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.vector-img-home{
  position: absolute;
  left: 0;
  top: 10;
  background: url("imgs/Vector.png") ;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.element2-img-home{
  position: absolute;
  left: 85%;
  margin-top: 15%;
  background: url("imgs/element2.png") ;
  background-repeat: no-repeat;
  height: 20%;
  width: 15%;
  z-index: -1;
}
.services-icon {
  margin-bottom: 22px
}

.services-card h4 {
  margin-bottom: 15px
}

.services-card p {
  color: #7D7987;
}

.services-card {
  border-radius: 20px;
  background: #fff;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
  width: 32%;
  padding: 46px 37px;
  margin-bottom: 37px
}
.svg-home{
  height: 20px;
  display: block;
  text-align: center; 
  margin-left: 47%;
 
}
.rect-home{
   
  width: 70px;
  align-items: center;
  height: 2px;
  
}

.button-services{
  display: block;
  margin-left: 45%;
  border-radius: 55px;
  border-width: 1px;
  border-color: #458FF6;
  width: 200px;
  height: 56px;
  background: #FFF;
  margin-top: 35px;
  color: #458FF6;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px; 

}
.button-services:hover{
  background-color: aliceblue;
}


/* /services section */

/* leading-healthcare-providers-section */
.leading-healthcare-providers-section{
  display: flex;
width: 80%;
 margin: auto;
 margin-top: 15%;
}


.img-leading-providers{
  width: 50%;
}

.leading-provider-header{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top: 100px;
  margin-left: 10%;
}
.h1-leading-providers{
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 25px;
  
  }

  .p-leading-providers{
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px
      
  }

  .svg-leading-providers{
    height: 20px;
    display: block;
    text-align: right; 
    
   
  }
  .rect-leading-providers{
     
    width: 70px;
    height: 2px;
    
  }

  .button-leading-providers{
    
    border-radius: 55px;
    border-color: #458FF6;
    width: 200px;
    height: 56px;
    background: #FFF;
    border-width: 1px;
    margin-top: 35px;
    color: #458FF6;
    font-size: 18px;
    font-weight: 400;
    line-height: 60px; 
  
  }
  .button-leading-providers:hover{
    background-color: aliceblue;
  }
/* /leading-healthcare-providers-section */

/* Download out mobile app section */
.download-app-section{
  display: flex;
width: 80%;
 margin: auto;
 margin-top: 15%;
}

.download-app-header{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top: 100px;
  margin-left: 10%;
}
.h1-download-app{
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 25px;
  
  }

  .p-download-app{
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px
      
  }

  .svg-download-app{
    height: 20px;
    display: block;
    text-align: left; 
    
   
  }
  .rect-download-app{
     
    width: 70px;
    height: 2px;
    
  }
  .button-download-app{
    
    border-radius: 55px;
    border-color: #458FF6;
    width: 200px;
    height: 56px;
    background: #FFF;
    margin-top: 35px;
    color: #458FF6;
    font-size: 18px;
    font-weight: 400;
    line-height: 60px; 
    border-width: 1px;
  
  }
  .button-download-app:hover{
    background-color: aliceblue;
  }

  .img-download-app{
    width: 50%;
  }
  

/* /Download out mobile app section */

/* Testimonials section */
.testimonials-section{
  margin: auto;
  margin-top: 15%;
  width: 80%;
  border-radius: 24px;
  background: linear-gradient(223deg, #67c3f3 0%, #5a98f2 100%);
  margin-bottom: 50px;
  padding: 64px 118px 89px 118px;
 
}
.element3-img-home{
  position: absolute;
  left: 85%;
  background: url("imgs/Group.png") ;
  background-repeat: no-repeat;
  height: 20%;
  width: 15%;

 
}
.element4-img-home{
  position: absolute;
  left: 7%;
  margin-top: 10%;
  background: url("imgs/element2.png") ;
  background-repeat: no-repeat;
  height: 20%;
  width: 15%;
  z-index: -1;
}
.h3-testimonials {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-bottom: 25px;
}
.rect-testimonials {
  width: 56px;
  height: 2px;
  background: rgb(255, 255, 255);
  margin: auto;
  margin-bottom: 75px;
}
.testimonials-data {
  display: flex;
  align-items: center;
}
.img-testimonials {
  margin-right: 20px;
  border-radius: 50%;
}
.testimonials-founder-info{
  width: 50%;
  display: flex;
  align-items: center;
}
.p-testimonials-info {
  width: 50%;
}
.h4-testimonials {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 48px;
}
.p-testimonials {
  color: rgba(255, 255, 255, 0.9);
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
}
.slider-nav-bar{
  width: 20%;
  margin-left: 40%;
  
}
/* /Testimonials section */

/* latest articles section */
.latest-articles-section{
  width: 80%;
  margin: auto;
  margin-top: 15%;

}
.element5-img-home{
  position: absolute;
  left: 7%;
  margin-top: 8%;
  background: url("imgs/element2.png") ;
  background-repeat: no-repeat;
  height: 20%;
  width: 15%;
  z-index: -1;
}
.vector2-img-home{
  position: absolute;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-left: 20%;
  margin-top: 5%;
  background: url("imgs/Vector.png") ;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.h1-articles{
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 20px;
}
.rect-articles {
  width: 56px;
  height: 2px;
  background: rgb(0, 0, 0);
  margin: auto;
  margin-bottom: 80px;
}
.articles-cards {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 100px;
}
.articles-card {
  width: 30%;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
  border-radius: 20px 20px 20px 20px;

}

.articles-card-image-img  {
  width: 100%;
  object-fit: contain;
  border-radius: 20px 20px 0px 0px;
  background: #fff;
}
.articles-card-content {
  width: 70%;
  margin: 25px 50px 25px 30px;
}
.h3-articles{
  margin-bottom: 12px;
}
.p-articles {
  margin-bottom: 20px;
}
.button-read-more{
  border: none;
  background-color: #FFF;
  color: #4089ED;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px; 
}
/* .button-read-more:hover{
  color: #7d7987;
} */
.button-view-all{
  margin-left: 45%;
  border-radius: 55px;
  border-color: #458FF6;
  width: 200px;
  height: 56px;
  border-width: 1px;
  background: #FFF;
  color: #458FF6;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px; 

}
.button-view-all:hover{
  background-color: aliceblue;
}

/* /latest articles section */

/* footer section */
.footer {
  margin-top: 15%;
  background: linear-gradient(212deg, #67c3f3 0%, #5a98f2 100%);
  display: flex;
  justify-content: space-between;
  padding: 110px 200px;
  color: #fff;
  align-items: center;
  flex-direction: row;
}
.element6-img-home{
  position: absolute;
  left: 0;
  margin-top: 25%;
  background: url("imgs/element2.png") ;
  background-repeat: no-repeat;
  height: 20%;
  width: 15%;
 
}
.element7-img-home{
  position: absolute;
  left: 85%;
  margin-bottom: 35%; 
  background: url("imgs/element2.png") ;
  background-repeat: no-repeat;
  height: 20%;
  width: 15%;
 
}
.logo-info{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.h5-footer {
  
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 20px;
}
.p-footer {
  font-size: 18px;
  font-weight: 300;
  line-height: 38px;
  margin-bottom: 7%;
}
.footer-columns{
  width: 50%;
display: flex;
justify-content: space-between;

flex-direction: row;
}

.column {
  list-style-type: none; 
  line-height:250%;
}

.footer-logo{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 10%;

}
.footer-text{
  
  margin-left: 5%;
  margin-top: 1%;
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.footer-circle{
 
    display: inline-block;
    line-height: 0px;
    border-radius: 50%;
    font-size: 26px;
    color: #458FF6;
    background: #FFF;
    

   }
   .footer-value{
    display: inline-block;
    padding-top: 60%;
    padding-bottom: 60%;
    margin-left: 8px;
    margin-right: 8px;
   }
/* /footer section */